header hl {
    background: url("img/bg.jpg") left / auto 100% no-repeat,
    url("static/img/bg.jpg") right / auto 100% no-repeat;
}
.root {
    font-size: larger;
}
img.main-image {
    width: 300px;
}
img.additional-img{
    width: 180px;
}

